<%
// load header options and contacts from content
const header = _.cms('header') || {}
const contacts = _.cms('contacts') || {}
const themeCustom = _.settings.theme.custom || ''

// social networks handled by contacts
const networks = [
  'facebook',
  'youtube',
  'instagram',
  'twitter',
  'pinterest',
  'linkedin',
  'tiktok'
]

// marketing stripe custom styles
let marketingStripeStyle = ''
;['background', 'color'].forEach(prop => {
  if (header.marketing_stripe[prop]) {
    marketingStripeStyle += `${prop}:${header.marketing_stripe[prop]};`
  }
})

// list featured categories
let categories = []
let isCategoriesNavFull
if (header.categories_list) {
  if (header.categories_list.featured.length) {
    // selected categories/collections/brands
    categories = header.categories_list.featured.map(pathAndName => {
      const [path, name] = pathAndName.split('?')
      return { slug: path.slice(1), name }
    })
  }
  if (header.categories_list.random) {
    // add up to `random` main categories
    const mainCategories = _.categories.filter(({ parent }) => !parent || !parent.slug)
    for (let i = 0; i < header.categories_list.random && i < mainCategories.length; i++) {
      if (!categories.find(({ slug }) => mainCategories[i].slug === slug)) {
        categories.push(mainCategories[i])
      }
    }
  }
  isCategoriesNavFull = header.categories_list.full_width
}
const isAlphabeticalOrderSubmenu = header.alphabetical_order_submenu
%>

<div id="overlay" class="fade"></div>

<div class="top-bar">
  <% if (header.marketing_stripe) { %>
    <% if (header.marketing_stripe.text) { %>
      <% if (header.marketing_stripe.link) { %>
        <a
          class="top-bar__countdown"
          style="<%= marketingStripeStyle %>"
          href="<%= header.marketing_stripe.link %>"
        >
          <%- header.marketing_stripe.text %>
        </a>
      <% } else { %>
        <div class="top-bar__countdown" style="<%= marketingStripeStyle %>">
          <%- header.marketing_stripe.text %>
        </div>
      <% } %>
    <% } %>
  <% } %>
</div>

<header class="header" id="header">
  <div class="header__container container-fluid">
    <div class="header__row row">
      <div class="d-lg-none col-auto p-0">
        <button
          class="btn header__toggler"
          type="button"
          onclick="toggleSidenav()"
          aria-label="Toggle side navigation"
        >
          <i class="header__toggler-icon i-bars"></i>
          <!-- 
          <% if (!categories.length) { %>
            <span class="d-none d-lg-inline">
              Menu
            </span>
          <% } %>
          -->
        </button>
      </div>

      <div class="col col-lg-auto px-1 px-md-2 px-lg-3">
        <a href="/">
          <%- await include('@/layout/inc/logo', { _ }) %>
        </a>
      </div>

      <div class="order-last col-auto p-0">
        <div
          class="header__buttons"
          role="group"
          aria-label="<%= _.dictionary('myAccount') %>"
        >
          <div class="d-inline-block btn-group dropleft">
            <a
              class="dropdown-toggle btn btn-lg pb-0"
              data-toggle="dropdown"
              role="button"
              href="#"
              title="<%= _.dictionary('myOrders') %>"
            >
              <i class="i-user"></i>
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="https://mono.direct/" target="_blank">Edite seu Monocard</a>
              <a id="user-button" class="dropdown-item" href="/app/#/account/">Veja seus pedidos</a>
            </div>
          </div>
          <a
            id="cart-button"
            class="btn btn-lg pb-0"
            role="button"
            href="/app/#/cart"
            title="<%= _.dictionary('openCart') %>"
          >
            <i class="i-shopping-bag"></i>
            <span id="cart-count" class="badge badge-primary"></span>
          </a>
        </div>

        <div id="login-modal">
          <!--
            `LoginModal` should be rendered here:
            https://developers.e-com.plus/storefront/@ecomplus/storefront-components/docs/LoginModal.html
          -->
        </div>
        <div id="cart-quickview">
          <!--
            `CartQuickview` should be rendered here:
            https://developers.e-com.plus/storefront/@ecomplus/storefront-components/docs/CartQuickview.html
          -->
        </div>
      </div>

      <div class="col px-2 px-md-3">
        <nav class="header__nav">
          <div class="d-none d-lg-inline-block btn-group dropdown ml-1">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
              Produtos
              <span class="text-muted">
                <i class="i-chevron-down"></i>
              </span>
            </a>
            <div class="dropdown-menu mt-3">
              <a class="dropdown-item" href="/cartao-personalizado">
                Monocard
                <span class="inline-block ml-2">
                  <i class="i-qr-code-20-solid"></i> <i class="i-wifi-20-solid"></i>
                </span>
              </a>
              <a id="user-button" class="dropdown-item" href="/monodot">
                Monodot
                <span class="inline-block" style="float: right">
                  <i class="i-wifi-20-solid"></i>
                </span>
              </a>
            </div>
          </div>
          <% if (header.contacts_stripe.pages) { %>
            <% header.contacts_stripe.pages.forEach(({ link, title }, i)=> { %>
              <div class="ml-lg-1 <%= (i < header.contacts_stripe.pages.length - 1 ? 'd-none d-lg-inline-block' : 'd-inline-block') %>">
                <a href="<%= link %>">
                  <%- title %>
                </a>
              </div>
            <% }) %>
          <% } %>
          <% categories.forEach(({ slug, name, _id}) => { %>
            <% let $categoryLink %>
            <div class="d-inline-block">
              <a
                href="javascript:;"
                class="header__category"
                id="cd-<%= _id %>"
                <%- hasMegamenu
                  ? `onmouseover="toggleSubmenu('${slug}', this)" onclick="toggleSubmenu('${slug}', this, true)"`
                  : `onclick="toggleSidenav('${slug}')"` %>
              >
                <%= name %>
              </a>
              <%- $categoryLink %>
              <%  if (slug && hasMegamenu) { %>
                <% const subcategories = _.categories.filter(({ parent }) => parent && parent.slug === slug) %>
                <% if (subcategories.length) { %>
                  <%
                    if (isAlphabeticalOrderSubmenu) {
                      subcategories.sort((a, b)=> {
                        return b.name > a.name ? -1 : 1
                      })
                    }
                  %>
                  <nav class="header__submenu<%= fullWidthSubmenu ? ' header__submenu--full' : '' %>" id="<%= `s-${slug.replace(/\//g, '_')}` %>">
                    <% subcategories.forEach(subcategory => { %>
                      <div>               
                        <a id="sd-<%= subcategory._id %>" href="/<%= subcategory.slug %>"><%= subcategory.name %></a>
                        <% const thirdCategories = _.categories.filter(({ parent }) => parent && parent.slug === subcategory.slug) %>
                        <%
                          if (isAlphabeticalOrderSubmenu) {
                            thirdCategories.sort((a, b)=> {
                              return b.name > a.name ? -1 : 1
                            })
                          }
                        %>
                        <% thirdCategories.forEach(thirdCategory => { %>
                          <a id="td-<%= thirdCategory._id %>" class="header__submenu-subcategory" href="/<%= thirdCategory.slug %>">
                            <%= thirdCategory.name %>
                          </a>
                        <% }) %>
                      </div>
                    <% }) %>
                  </nav>
                <% } %>
              <% } %>
            </div>
          <% }) %>
        </nav>
      </div>
    </div>
  </div>
</header>
<% if (header.popup) { %>
  <div class="modal fade" id="popup-modal" tabindex="-1" role="dialog" aria-labelledby="modal-popup" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <button type="button" id="close-modal-popup" class="close" data-dismiss="modal" aria-label="Close" style="position: absolute; right: 10px; top: 10px">
          <span aria-hidden="true">&times;</span>
        </button>
        <img src="<%- header.popup %>" style="max-width: 100%">
      </div>
    </div>
  </div>
<% } %> 